.container {
  text-align: center;

  span {
    font-size: 20px;
  }
  button {
    cursor: pointer;
  }

  .add-todo {
    margin: 20px 0;

    .add {
      margin: 0 10px;
    }
  }

  .list-todo {
    width: 500px;
    margin: 0 auto;
    text-align: center;

    .todo-child {
      height: 50px;
      border-top: 1px solid grey;

      &:last-child {
        border-bottom: 1px solid grey;
      }

      .edit {
        margin: 0 10px;
      }
    }
  }
}
